<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
     integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="../assets/style.css">
    <title>Painel</title>
</head>
<body>
    <div class="header-painel">
        <h2>Dashboard</h2>
    </div>
    <div class="center">
    <form class="form-painel" enctype="multipart/form-data" method="post" action="/admin/cadastrar_noticia">
        <input type="text" name="titulo_noticia" placeholder="titulo da noticia">
        <input type="text" name="url_img" placeholder="link da foto">
        <input type="text" name="slug" placeholder="slug">
        <input type="file" name="arquivo" style="body:none; margin-bottom: 10px;">
        <textarea name="noticia" placeholder="Noticia"></textarea>
        <input type="submit"  name="acao" title="Add">
    </form>
    <div class="header-painel"><h2>Noticias Cadastradas</h2></div>
    
    <% for(let i = 0;i < posts.length; i++){%>
            <div class="noticias-painel-single">
                <p>titulo da noticia: <%=posts[i].titulo%> </p>
                <a href="/admin/deletar/<%=posts[i].id%>">(x)</a>
            </div>
    <%}%>
</div>

    </div>
    </body>
</body>
</html>

    